{
    "printWidth": 140,
    "tabWidth": 4,
    "useTabs": true,
    "semi": false,
    "singleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "requirePragma": false,
    "insertPragma": true,
    "proseWrap": "preserve"
}
